<section>
    <div class="container">
        <h1 class="title">{{bouteille.nom }}</h1>
        <h2>{{bouteille.appellation}}</h2>
        <h2>{{bouteille.annee}}</h2>
        <h2>{{bouteille.classement}}</h2>
        <h2>{{bouteille.avis}}</h2>
        <h2>{{bouteille.region}}</h2>
        <h2>{{bouteille.prix}}</h2>
        <h2>{{bouteille.photo}}</h2>
    </div>
</section>